Django==1.6.1
django-imagekit==3.2
django-nose==1.2
django-tinymce==1.5.2
django-toolbelt==0.0.1
gunicorn
mandrill==1.0.53
mock==1.0.1
nose==1.3.0
Pillow==2.3.0
python-memcached
requests==2.2.1
sorl-thumbnail==11.12
South==0.8.4
supervisor
