{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block navbar_2 %}
    {% include "frontpages/navbar-about.html" %}
{% endblock navbar_2 %}

{% block content %}
    <div class="container">
        <div class=""></div>
        {% include "render_messages.html" %}

        <div class="row">
            <div class="large-12 columns">
                <p><a name="what"></a></p>
                <h2 class="" data-magellan-destination="what">What we do?</h2>
                <p>
                    Life Change Ministry (LCM) is a registered NPO (090-057) which aims to give life and hope.  Whilst engaging with the
                    drug abuse problem in Wynberg in the last year, LCM has observed that there are approximately 200 Homeless in the area,
                    of which 60-70% are struggling with a drug addiction and spending about R1,500-R3,500pm on alcohol and illicit drugs due
                    to the loss of a loved one, a job, broken family (alcohol, drugs, separation or abuse), bad friendships and a general lack
                    of self-esteem.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <hr>
                <p><a name="why"></a></p>
                <h2 class="" data-magellan-destination="why">Why we do it?</h2>
                <p>
                    The social inequality regarding homeless in South Africa motivated us (a group of postgraduates and UCT Alumni) to invest all
                    our human, material and financial resources to address the issue by creating a Non Profit Organisation called “Life Change Ministry"
                    in 2009. LCM was providing services such as feeding programmes, CV writing, and job hunting. From the start LCM was helping around 4-5
                    people per week with the above mentioned services and hosting monthly empowerment meetings with speakers from different levels of
                    society with around 8-10 impoverished attendees of all ages. In 2010 LCM helped many people find jobs, facilitated funding for training
                    programmes, foods, clothes and accommodation.
                </p>

            </div>
        </div>

        <div class="row">
            <hr>
            <p><a name="who"></a></p>
            <h2 class="featurette-heading" data-magellan-destination="who">Who does it?</h2>
            <div class="large-8 columns">
                <h4 class="featurette-heading">Evariste Umba. <span class="text-muted">Founding President.</span></h4>
                <p>
                    I'm Evariste Umba, a former Street fighter and boxer. With the love and support of my family and Christ-followers,
                    I have completed a Master's Degree in Chemistry at UCT and founded Life Change Ministry (LCM:NPO-090-057).
                    Since 2011, I have been dedicated to address "Healthy Living" and "Family Reinsertion" among drug addicts and
                    community members.
                </p>
            </div>
            <div class="large-4 columns">
                <img class="featurette-image img-responsive img-polaroid" width="250px" src="{% static "img/content/evariste_2.jpg" %}"  data-src="" alt="Evariste Umba">
            </div>
        </div>

        <div class="row">
            <hr>

            <div class="large-12 columns">
                <div class="large-4 columns">
                    <img class="featurette-image img-responsive img-polaroid" width="200px" src="{% static "img/content/David Phillpotts.jpeg" %}"  data-src="" alt="Evariste Umba">
                </div>

                <div class="large-8 columns">
                    <h4 class="featurette-heading">David Phillpots. <span class="text-muted">Pastor.</span></h4>
                    <p>
                        Vut, mattis turpis dapibus cras ridiculus augue mauris pellentesque vel scelerisque!
                        Ac sed non porttitor, montes dignissim turpis tristique natoque, nec parturient augue?
                        Dignissim tortor adipiscing, odio eu integer a nunc sagittis, platea lacus parturient
                        mattis turpis eros, purus tempor velit cum natoque non risus eros aliquam? Ultrices sed,
                        et et quis egestas ac nunc sociis nec scelerisque! Risus mauris nisi hac lectus lundium mauris
                        pulvinar urna. Natoque. Integer, sit pellentesque, sit nec ac dolor arcu tristique natoque.
                        Integer ac scelerisque magna adipiscing lacus augue facilisis ultricies, montes nunc.
                        Tempor? Mid magna et et urna. Scelerisque aliquet! Tincidunt velit dapibus duis placerat
                        pulvinar odio, mid scelerisque integer, sociis rhoncus, lectus tempor ut, amet turpis a
                        nascetur dignissim pulvinar, nisi.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <hr>
            <div class="large-12 columns">
                <p><a name="when"></a></p>
                <h2 class="" data-magellan-destination="when">When we do it?</h2>
                <p>
                    507 The Oaks, Piers Road. Wynberg.
                </p>

                <p>
                    Support group: Friday from 17:30-19h: 11 Flora court, Broad Road, Wynberg
                </p>
                <p>
                    Support group and soup kitchen: Wednesday from 17:30-18:20: outside and inside
                    the haven shelter (16a Piers Road, Wynberg).
                </p>
            </div>
        </div>

    </div>

{% endblock content %}
