{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block navbar_2 %}
    {% include "frontpages/navbar-about.html" %}
{% endblock navbar_2 %}

{% block content %}
    <div class="container">
        <div class=""></div>
        {% include "render_messages.html" %}

        <div id="what" class="row featurette">
            <div class="col-lg-12">
                <h2 class="featurette-heading">What we do?</h2>
                <p>
                    Integer purus sit egestas, ultrices augue vut amet turpis egestas
                    mus platea mus pellentesque scelerisque non, cum in augue vel! Odio
                    magnis, a porttitor, duis augue sit pellentesque phasellus ridiculus
                    porttitor ac, arcu arcu mid. Ultrices, est ut non lectus! Pulvinar porta,
                    porta, eros phasellus duis vel sit nunc augue proin amet rhoncus penatibus.
                    Lectus? Ut duis natoque quis, augue, sagittis tincidunt risus mus, ac et
                    penatibus enim dignissim dolor! Elit pulvinar. Sagittis placerat purus,
                    facilisis ac vel. Vut sit. Tristique habitasse urna quis, massa facilisis
                    sociis adipiscing massa platea integer mauris! Magna vel tristique mauris!
                    Turpis auctor nec pulvinar ut porta mid urna, et? Eros, pulvinar nec, nec
                    egestas, augue, hac aenean duis! Ac cum vel, sit sed! A.
                </p>

                <p>
                    Vut, mattis turpis dapibus cras ridiculus augue mauris pellentesque vel scelerisque!
                    Ac sed non porttitor, montes dignissim turpis tristique natoque, nec parturient augue?
                    Dignissim tortor adipiscing, odio eu integer a nunc sagittis, platea lacus parturient
                    mattis turpis eros, purus tempor velit cum natoque non risus eros aliquam? Ultrices sed,
                    et et quis egestas ac nunc sociis nec scelerisque! Risus mauris nisi hac lectus lundium mauris
                    pulvinar urna. Natoque. Integer, sit pellentesque, sit nec ac dolor arcu tristique natoque.
                    Integer ac scelerisque magna adipiscing lacus augue facilisis ultricies, montes nunc.
                    Tempor? Mid magna et et urna. Scelerisque aliquet! Tincidunt velit dapibus duis placerat
                    pulvinar odio, mid scelerisque integer, sociis rhoncus, lectus tempor ut, amet turpis a
                    nascetur dignissim pulvinar, nisi.
                </p>
            </div>
        </div>

        <hr id = "why" class="featurette-divider">

        <div class="row featurette">
            <div class="col-lg-12">
                <h2 class="featurette-heading">Why we do it?</h2>
                <p>
                    Integer purus sit egestas, ultrices augue vut amet turpis egestas
                    mus platea mus pellentesque scelerisque non, cum in augue vel! Odio
                    magnis, a porttitor, duis augue sit pellentesque phasellus ridiculus
                    porttitor ac, arcu arcu mid. Ultrices, est ut non lectus! Pulvinar porta,
                    porta, eros phasellus duis vel sit nunc augue proin amet rhoncus penatibus.
                    Lectus? Ut duis natoque quis, augue, sagittis tincidunt risus mus, ac et
                    penatibus enim dignissim dolor! Elit pulvinar. Sagittis placerat purus,
                    facilisis ac vel. Vut sit. Tristique habitasse urna quis, massa facilisis
                    sociis adipiscing massa platea integer mauris! Magna vel tristique mauris!
                    Turpis auctor nec pulvinar ut porta mid urna, et? Eros, pulvinar nec, nec
                    egestas, augue, hac aenean duis! Ac cum vel, sit sed! A.
                </p>

                <p>
                    Vut, mattis turpis dapibus cras ridiculus augue mauris pellentesque vel scelerisque!
                    Ac sed non porttitor, montes dignissim turpis tristique natoque, nec parturient augue?
                    Dignissim tortor adipiscing, odio eu integer a nunc sagittis, platea lacus parturient
                    mattis turpis eros, purus tempor velit cum natoque non risus eros aliquam? Ultrices sed,
                    et et quis egestas ac nunc sociis nec scelerisque! Risus mauris nisi hac lectus lundium mauris
                    pulvinar urna. Natoque. Integer, sit pellentesque, sit nec ac dolor arcu tristique natoque.
                    Integer ac scelerisque magna adipiscing lacus augue facilisis ultricies, montes nunc.
                    Tempor? Mid magna et et urna. Scelerisque aliquet! Tincidunt velit dapibus duis placerat
                    pulvinar odio, mid scelerisque integer, sociis rhoncus, lectus tempor ut, amet turpis a
                    nascetur dignissim pulvinar, nisi.
                </p>
            </div>
        </div>

        <hr id="who" class="featurette-divider">

        <div class="row featurette">
            <h2 class="featurette-heading">Who does it?</h2>
            <div class="col-md-12">
                <div class="col-md-8">
                    <h4 class="featurette-heading">Evariste Umba. <span class="text-muted">Founding President.</span></h4>
                    <p>
                        I'm Evariste Umba, a former Street fighter and boxer. With the love and support of my family and Christ-followers,
                        I have completed a Master's Degree in Chemistry at UCT and founded Life Change Ministry (LCM:NPO-090-057).
                        Since 2011, I have been dedicated to address "Healthy Living" and "Family Reinsertion" among drug addicts and
                        community members.
                    </p>

                    <p>
                        Life Change Ministry (LCM) is a registered NPO (090-057) which aims to give life and hope.  Whilst engaging with the
                        drug abuse problem in Wynberg in the last year, LCM has observed that there are approximately 200 Homeless in the area,
                        of which 60-70% are struggling with a drug addiction and spending about R1,500-R3,500pm on alcohol and illicit drugs due
                        to the loss of a loved one, a job, broken family (alcohol, drugs, separation or abuse), bad friendships and a general lack
                        of self-esteem. While there is not yet in Wynberg an accessible and affordable Treatment Centre.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="featurette-image img-responsive img-polaroid" width="300px" src="{% static "img/content/evariste.jpg" %}"  data-src="" alt="Evariste Umba">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="col-md-12 margin-top-fifty">
                <div class="col-md-3">
                    <img class="featurette-image img-responsive img-polaroid" width="200px" src="{% static "img/content/temp_1.png" %}"  data-src="" alt="Evariste Umba">
                </div>

                <div class="col-md-9">
                    <h4 class="featurette-heading">First Last. <span class="text-muted">Pastor.</span></h4>
                    <p>
                        Vut, mattis turpis dapibus cras ridiculus augue mauris pellentesque vel scelerisque!
                        Ac sed non porttitor, montes dignissim turpis tristique natoque, nec parturient augue?
                        Dignissim tortor adipiscing, odio eu integer a nunc sagittis, platea lacus parturient
                        mattis turpis eros, purus tempor velit cum natoque non risus eros aliquam? Ultrices sed,
                        et et quis egestas ac nunc sociis nec scelerisque! Risus mauris nisi hac lectus lundium mauris
                        pulvinar urna. Natoque. Integer, sit pellentesque, sit nec ac dolor arcu tristique natoque.
                        Integer ac scelerisque magna adipiscing lacus augue facilisis ultricies, montes nunc.
                        Tempor? Mid magna et et urna. Scelerisque aliquet! Tincidunt velit dapibus duis placerat
                        pulvinar odio, mid scelerisque integer, sociis rhoncus, lectus tempor ut, amet turpis a
                        nascetur dignissim pulvinar, nisi.
                    </p>
                </div>
            </div>

            <div class="col-md-12 margin-top-fifty">
                <div class="col-md-8">
                    <h4 class="featurette-heading">First Last. <span class="text-muted">Financial Manager.</span></h4>
                    <p>
                        Vut, mattis turpis dapibus cras ridiculus augue mauris pellentesque vel scelerisque!
                        Ac sed non porttitor, montes dignissim turpis tristique natoque, nec parturient augue?
                        Dignissim tortor adipiscing, odio eu integer a nunc sagittis, platea lacus parturient
                        mattis turpis eros, purus tempor velit cum natoque non risus eros aliquam? Ultrices sed,
                        et et quis egestas ac nunc sociis nec scelerisque! Risus mauris nisi hac lectus lundium mauris
                        pulvinar urna. Natoque. Integer, sit pellentesque, sit nec ac dolor arcu tristique natoque.
                        Integer ac scelerisque magna adipiscing lacus augue facilisis ultricies, montes nunc.
                        Tempor? Mid magna et et urna. Scelerisque aliquet! Tincidunt velit dapibus duis placerat
                        pulvinar odio, mid scelerisque integer, sociis rhoncus, lectus tempor ut, amet turpis a
                        nascetur dignissim pulvinar, nisi.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="featurette-image img-responsive img-polaroid" width="200px" src="{% static "img/content/temp_1.png" %}"  data-src="" alt="Evariste Umba">
                </div>
            </div>


        </div>

        <hr id="when" class="featurette-divider">

        <div class="row featurette">
            <div class="col-lg-12">
                <h2 class="featurette-heading">When we do it?</h2>
                <p>
                    507 The Oaks, Piers Road. Wynberg.
                </p>

                <p>
                    Support group: Friday from 17:30-19h: 11 Flora court, Broad Road, Wynberg
                </p>
                <p>
                    Support group and soup kitchen: Wednesday from 17:30-18:20: outside and inside
                    the haven shelter (16a Piers Road, Wynberg).
                </p>
            </div>
        </div>

    </div>

{% endblock content %}
