{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container top30">
        {% include "render_messages.html" %}

        <div class="row">
            <div class="large-3 columns">
                <h4>View Stories</h4>
                <ul class="side-nav">
                    {% for event in events %}
                        <li class="{% if current_event.id == event.id %}active{% endif %}"><a href="{% url 'event' event_id=event.id %}" {% if current_event.id == event.id %}disabled="disabled"{% endif %} >{{ event.title }} </a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="large-9 columns">
                <div class="large-12 columns">
                    <h2>{{ current_event.get_event_date }}</h2>
                </div>

                <div class="large-12 columns content">
                    {% if current_event.image %}
                        <img class="featurette-image img-responsive img-polaroid img-textwrap" src="{{current_event.image.url }}" alt="Generic placeholder image">
                    {% endif %}

                    <p class="tiny-mce">
                        {{ current_event.description|safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
