{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container">
        {% include "render_messages.html" %}

        <div class="row">
            <div class="col-md-12">
                <h1>Donations</h1>

                <p>
                    Donations can be made to:
                </p>
                    <table>
                        <tr>
                            <td>Bank:</td>
                            <td>Standard Bank</td>
                        </tr>

                        <tr>
                            <td>Account Name:</td>
                            <td>Life Change Ministry</td>
                        </tr>

                        <tr>
                            <td>Account No:</td>
                            <td>073637424</td>
                        </tr>

                        <tr>
                            <td>Branch:</td>
                            <td>Rondebosch</td>
                        </tr>

                        <tr>
                            <td>Reference:</td>
                            <td>Name of Person or Company</td>
                        </tr>
                    </table>
            </div>

            <!-- <div class="col-md-12">
                <h1>Volunteering</h1>
            </div>

            <div class="col-md-12">
                <h1>Prayer</h1>
            </div> -->
        </div>
    </div>

{% endblock content %}
