{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container">
        {% include "render_messages.html" %}

        <div class="row">
            <div class="col-md-12">
                <h1>The Life Change Strategy</h1>

                <h2>Blaze</h2>

                <p>
                    Finding accommodation and Family Insertion: LCM is focusing on homeless people by facilitating
                    a place to stay (shelters, housing, room for rent and family insertion). Methodology: Field work
                    (personal advices on the streets), Haven Night Shelter, Municipality facility for Housing Application,
                    Gumtree, Shoprite and Picknpay for ads on rooms, and phone calls and assistance on transport for
                    family contacts or visits.
                </p>

                <h2>Highlight</h2>

                <p>
                    Substance abuse and HIV/Aids counseling: LCM provides counseling and workshops sessions around issues such
                    as drugs, alcohol abuse and HIV/aids to help those victims to understand their negative effects and remedies.
                    LCM is planning in future to facilitate families, marriages and community’s reconciliation. LCM believes that
                    Abstinence principle is a bible based principle and it will help a lots our community for HIV eradication.
                </p>

                <p>
                    Methodology: Chemistry and physiological knowledge of Substance Abuse (qualified Medicinal Chemist does that)
                    and another staff with Honours in Psychology is assisting us on counseling. LCM also encourages them to attend
                    church services around the area and our Mondays Supportive group (workshops with current and former drug users,
                    alcoholic, struggling financially and other issues) by allowing people to share their problems, encourage one
                    another by the word of God or any word and praying for one another, and foods assistance (soup kitchen) are
                    generally shared afterwards.
                </p>

                <h2>Empowerment</h2>

                <p>
                    Computer literacy, Business development, money skills and Jobs hunting: LCM assists homeless to find work by CV writing,
                    State document application or renewal, providing transport on job hunting and first month of work. We also empower them
                    with money skills enables them to manage wisely their finances. LCM identifies talented people and encourages them to
                    develop that. The skills obtained help them to get secure job or start a small business. LCM teaches disadvantaged to
                    fish rather than begging daily. As result after a period of time some became very independents from streets, shelters
                    and society
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Donations</h1>

                <p>
                    Donations can be made to:
                </p>
                    <table>
                        <tr>
                            <td>Bank:</td>
                            <td>Standard Bank</td>
                        </tr>

                        <tr>
                            <td>Account Name:</td>
                            <td>Life Change Ministry</td>
                        </tr>

                        <tr>
                            <td>Account No:</td>
                            <td>073637424</td>
                        </tr>

                        <tr>
                            <td>Branch:</td>
                            <td>Rondebosch</td>
                        </tr>

                        <tr>
                            <td>Reference:</td>
                            <td>Name of Person or Company</td>
                        </tr>
                    </table>
            </div>

            <!-- <div class="col-md-12">
                <h1>Volunteering</h1>
            </div>

            <div class="col-md-12">
                <h1>Prayer</h1>
            </div> -->
        </div>
    </div>

{% endblock content %}
