<!-- Fixed navbar -->
<!-- <div class="navbar navbar-default navbar-fixed-top-for-about" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#what" class="scroll">What we do.</a></li>
                <li><a href="#why" class="scroll">Why we do</a></li>
                <li><a href="#who" class="scroll">Who does it</a></li>
                <li><a href="#when" class="scroll">When we do</a></li>
        </div>/.nav-collapse
    </div>
</div>
 -->
 <div class="row">
    <div class="magellan-container" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;">
      <dl class="sub-nav">
        <dd data-magellan-arrival="what"><a href="#what" class="">What we do.</a></dd>
        <dd data-magellan-arrival="why"><a href="#why" class="">Why we do</a></dd>
        <dd data-magellan-arrival="who"><a href="#who" class="">Who does it</a></dd>
        <dd data-magellan-arrival="when"><a href="#when" class="">When we do it?</a></dd>
      </dl>
    </div>
</div>
