<!-- Fixed navbar -->
<!-- <div class="navbar navbar-default navbar-fixed-top-for-about" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#what" class="scroll">What we do.</a></li>
                <li><a href="#why" class="scroll">Why we do</a></li>
                <li><a href="#who" class="scroll">Who does it</a></li>
                <li><a href="#when" class="scroll">When we do</a></li>
        </div>/.nav-collapse
    </div>
</div>
 -->
