body {
  margin-top: 100px;
  min-height: 500px;
}

/* Registration contact */
.contact-registration {
  /*max-width: 330px;*/
  padding: 15px;
  margin: 0 auto;
}

/* ===================== Registreation contact ==================================== */
.contact-registration .contact-registration-heading,
.contact-registration .checkbox {
  margin-bottom: 10px;
}
.contact-registration .checkbox {
  font-weight: normal;
}
.contact-registration .contact-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-registration .contact-control:focus {
  z-index: 2;
}
.contact-registration input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.contact-registration input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}

.min-height-marketing{
  min-height: 50px;
}

.marketing .col-lg-6 {
  text-align: center;
  margin-bottom: 20px;
}

.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.hr-who-does-it {
  margin: 100px 100px; /* Space out the Bootstrap <hr> more */
}

.margin-top-fifty{
  margin-top: 120px;
  /*padding-top: 50px;*/
}

.margin-top-ninety{
  margin-top: 90px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

/* Navbar Fixed top About Us */
.navbar-fixed-top-for-about {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  border-top: 1px solid black;
  top: 50px;
  border-width: 0 0 1px;
  max-height:10px;
  font-size: 13px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  /*margin-top: -90px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* =================== Styling of Footer =========================== */
.footer-background{
  margin-top: 30px;
  background-color: #e7e7e7;
  min-height: 150px;
}

.footer-content{
  padding-top: 20px;
}

.description-padding{
  padding: 10px 40px;
}
