// We use these as default colors throughout
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$grey: #0F4777;
$home-page-navbar: #333;
$light-blue: #80a9cc;
$medium-blue: #272727;
$black: #000;
$white: #fff;
