{% load staticfiles %}

<div class="lcm-footer-bottom top30">
  <div class="row">
    <div class="medium-4 medium-4 push-8 columns">
        <ul class="home-social">
            <li><a href="mailto:life.lichange.change@gmail.com" class="mail"></a></li>
            <li><a href="https://www.facebook.com/pages/Life-Change-Ministry/203741529723305" class="facebook"></a></li>
        </ul>
     </div>
     <div class="medium-8 medium-8 pull-4 columns">
        <a href="http://www.lcm.com" class="lcm-logo regular"></a>
        <ul class="lcm-links">
            <li> <a href="{% url 'home' %}" >Home</a></li>
            <li> <a href="{% url 'about' %}">About</a></li>
            <li> <a href="{% url 'stories' %}" >Stories</a></li>
            <li> <a href="{% url 'ministry' %}">Ministry</a></li>
            <li> <a href="{% url 'partners' %}">Partners</a></li>
            <li> <a href="{% url 'contact' %}">Contact Us</a></li>
       </ul>
       <p class="copyright">&copy; Life Change Ministries. &middot; </p>
    </div>
  </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src= {% static "js/jquery.js" %} type="text/javascript"></script> -->

<script src= {% static "bower_components/jquery/jquery.min.js" %}></script>
<script src= {% static "bower_components/foundation/js/foundation.min.js" %}></script>
<script src= {% static "bower_components/foundation/js/foundation/foundation.magellan.js" %}></script>
<script src= {% static "js/lcm.js" %} type="text/javascript"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src= {% static "js\html5shiv.js" %}></script>
  <script src= {% static "js\respond.min.js" %}></script>
<![endif]-->
