<div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
              <h1><a href="{% url 'home' %}">Life Change Ministry</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->

            <ul class="left"><li class="divider"></li>
                <li {% if home %}class="active" {% endif %}><a href="{% url 'home' %}">Home</a></li><li class="divider"></li>
                <li class="{% if about %} active {% endif %}"><a href="{% url 'about' %}">About</a>
                </li><li class="divider"></li>
                <li {% if stories %}class="active" {% endif %}><a href="{% url 'stories' %}">Stories</a></li><li class="divider"></li>
                <li class="{% if donations %}active {% endif %} has-dropdown"><a href="{% url 'ministry' %}">Ministry</a>
                    <ul class="dropdown">
                        <li {% if partners %}class="active" {% endif %}><a href="{% url 'partners' %}">Partners</a></li>
                        <li class="divider"></li>
                        <li {% if events_nav %}class="active" {% endif %}><a href="{% url 'events' event_id=1 %}" class="">Events</a></li>
                        <li class="divider"></li>
                    </ul>
                </li><li class="divider"></li>
                <li {% if contact %}class="active" {% endif %}><a href="{% url 'contact' %}">Contact</a></li><li class="divider"></li>
            </ul>
        </section>
    </nav>
</div>
