.top-bar-section {
    ul {
        background-color: $primary-color;
    }
}

.description-padding{
  padding: 10px 40px;
}

.top30 { margin-top: 30px; }
.top20 { margin-top: 20px; }
.bottom30 { margin-bottom: 30px; }
.bottom20 { margin-bottom: 20px; }

body {
  min-height: 500px;
  height: 100%;
}

.content {
    p {
        margin: 0px 0px !important;
        padding: 4px;
    }
}

.side-nav {
  @include side-nav(
    $divider-color: '#EEE9E9',
    // $font-size:1.2em,
    $link-color:'#ccc',
    $link-color-hover: '#444'
  );

    li {
        margin: 0;
        padding: 0px 10px;

        a {
            padding: rem-calc(6) 0;

            &:hover{
              font-weight: bold;
            }
        }

        &:hover{
            background-color: scale-color($primary-color, $lightness: 0%);
        }

        &:disabled {
            pointer-events: none;
            cursor: not-allowed;
        }

        &:disabled:hover {
            background-color: white;
        }
    }

    .active{
            background-color: scale-color($primary-color, $lightness: 30%);
    }
}

.side-nav li.divider { margin: 16px 0px; }


// .lcm-orbit {}
.lcm-orbit-content {
    background:#2ba6cb;
    overflow-y: none;

    li div {
        list-style: none;
        color:white;
        padding:30px 40px;
        h1,h2,h3,p {color:white;}
    }

    // ul {
    //     list-style: none;
    //     li div {
    //         list-style: none;
    //         color:white;
    //         padding:30px 40px;
    //         h1,h2,h3,p {color:white;}
    //     }
    // }
}
